/* header styles */
.topbar {
    background-color: $primary;
    .top-nav {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0.5em 1em;
        text-align: center;
        display: flex;
        justify-content: space-between;
        @include tablet {
            justify-content: flex-end;
        }
        li {
            padding: 0 0.5em;
            font-size: 0.75em;
            @include tablet {
                font-size: 1em;
            }
        }
        a {
            color: $white;
            font-family: MontserratBold;
            &:hover {
                color: $secondary;
            }
        }
    }
}
.main-nav {
    &.sticky-margin {
        margin-top: 96px;
    }
    .sticky-wrapper {
        background-color: $white;
        top: 0;
        width: 100%;
        z-index: 2;
        @include dropShadow();

        &.sticky {
            position: fixed;
            .main-nav__drawer.is-open {
                top: 24vw;
                @include tablet {
                    top: 0;
                }
            }
        }
    }

    .main-nav__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em 1em;
        max-width: 1440px;
        margin: 0 auto;

        .main-nav__logo {
        	z-index: 3;
        }
    
        .main-nav__bar {
            position: relative;
            z-index: 3;

            @include tablet {
                display: none;
            }

            .hamburger-button {
                width: 2.5rem;
                height: 2rem;
                background-color: $transparent;
                border: none;

                .hamburger-button__bar--top,
                .hamburger-button__bar--middle,
                .hamburger-button__bar--bottom {
                    width: 30px;
                    height: 3px;
                    color: $primary;
                    background: $primary;
                    position: absolute;
                    @include transitionAll();
                }

                .hamburger-button__bar--top {
                    top: 5px;
                }

                .hamburger-button__bar--middle {
                    top: 15px;
                }

                .hamburger-button__bar--bottom {
                    top: 25px;
                }

                &.is-open {

                    .hamburger-button__bar--top,
                    .hamburger-button__bar--middle,
                    .hamburger-button__bar--bottom {
                        @include transitionAll();
                    }

                    .hamburger-button__bar--top {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        top: 15px;
                        left: 8px;
                    }

                    .hamburger-button__bar--middle {
                        width: 0%;
                        opacity: 0;
                    }

                    .hamburger-button__bar--bottom {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        top: 15px;
                        left: 8px;
                    }

                }
            }
        }

        .main-nav__drawer {
            position: absolute;
            right: -40em;
            width: 80%;
            background: $white;
            top: 30vw;
            @include transitionAll();
            z-index: 2;

            @include tablet {
                transition: none;
                position: relative;
                right: 0;
                width: 37em;
                background: #ffffff;
                top: 0;
            }

            &.is-open {
                right: 0em;
                .primary-nav{ 
                    overflow: scroll;
                    height: 76vh;
                    margin-top: 2em;
                }
            }

            .primary-nav {
                @include tablet {
                    padding: 0;
                    display: flex;
                    justify-content: space-evenly;
                    max-width: 37em;
                }

                > li {
                    padding: 1em 0;
                    &.current-menu-item > a  {
                        color: $secondary;
                    }
                    &.menu-item-has-children {
                        padding-bottom: 0;

                        > a {
                            &:hover {
                                color: $secondary;
                            }
                        }
                        @include tablet {
                            position: relative;

                            .sub-menu  {
                                display: none;
                                position: absolute;
                                background-color: #fff;
                                width: 16em;
                                padding-bottom: 1em;
                                top: 3em;
                                .current-menu-item > a  {
                                    color: $secondary;
                                }
                            }

                            &:hover {

                                .sub-menu {
                                    display: block;
                                }
                            }
                        }
                        .sub-menu  {
                            padding-top: 1em;

                            li  {
                                padding: 1em;
                                position: relative;
                                
                                a {

                                    &::before {
                                        font-family: fontawesome;
                                        content: "\f101";
                                        position: absolute;
                                        left: -0.5em;
                                        transition: left 250ms ease-in-out;
                                    }

                                    &:hover {
                                        &::before {
                                            font-family: fontawesome;
                                            content: "\f101";
                                            position: absolute;
                                            left: -0em;
        
                                        }
                                    }
                                }
                            }
                        }
                    }

                    a {
                        font-family: UbuntuMedium;
                    }
                }
            }
        }
    }

    .main-nav__overlay {
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 1;
        @include transitionAll();

        &.active {
            display: block;
            background-color: rgba(0, 0, 0, 0.5);
            pointer-events: all;
            @include transitionAll();
        }

        @include tablet {
            display: none;
        }
    }
}

